:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --text-focus-color: #DB00FF;
  --text-menu: #FF0070;
  --text-menu-rgb: 255, 0, 112;
  --text-header: #000028;
  --text-section: #FF0070;
  --text-section-paragraph: #000028;
  --text-section-paragraph-highlight: #FF0070;
  --text-main: #F1B2CE;
}

.theme-dark .page {
  background-color: #000028;
}

.theme-light .header {
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --text-focus-color: #DB00FF;
  --text-menu: #FF0070;
  --text-menu-rgb: 255, 0, 112;
  --text-header: #000028;
  
  --text-section: #FF0070;
  --text-section-paragraph: #000028;
  --text-section-paragraph-highlight: #FF0070;
  --text-main: #F1B2CE;
  }
}


