:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --text-focus-color: #FFC2E6;
  --text-menu: #353430;
  --text-menu-rgb: 53, 52, 48;
  --text-header: #353430;
  
  --text-section: #353430;
  --text-section-paragraph: #353430;
  --text-section-paragraph-highlight: #FF8DCB;
  --text-main: #353430;
}

.theme-light .page {
  background-color: #fff1f7;
}

.theme-light .header {
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.theme-light .rec {
  display: none; 
}