.page {
  display: grid;
  height: 100vh;
  min-height: 1024px;
  gap: 40px;
  background-color: #fff1f7;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  }

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 238px auto 1fr;
  height: 668px;
  padding: 0 10px;
}

.text-focus {
  color: var(--text-focus-color);
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-text-focus {
  grid-row: 2;
}

.header-text {
  align-self: end;
  justify-self: center;
  margin-bottom: 66px;
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
}

.title-decor {
  color: var(--text-header);
  background-color: var(--accent-color);
}

.rec {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 10px;
  color: var(--accent-color);
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size-title);
}

.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 4px var(--accent-color);
}

.theme-auto .rec {
  display: none;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: var(--text-menu);
  border-style: solid;
}

.decorated-zone::before {
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  border-width: 1px 1px 0 0;
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  border-width: 0 0 1px 1px;
}

.header__theme-menu {
  align-self: start;
  justify-self: end;
  margin-top: 75px;
}

.header__theme-menu-button {
  height: 26px;
  width: 70px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  color: var(--text-menu);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: var(--font-size-title);
  line-height: 18px;
  text-transform: lowercase;
}

.header__theme-menu-list {
  display: grid;
  gap: 9px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--text-menu);
  pointer-events: none;
}

.header__theme-menu-button:hover {
   border: 1px solid rgba(var(--text-menu-rgb), 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--text-menu);
}

.main {
  display: grid;
  gap: 50px;
  padding: 0 10px;
}

.section-two-columns {
  display: grid;
  gap: 20px;
}

.section-three-columns {
  display: grid;
  gap: 20px;
}

.main-title {
  color: var(--text-section);
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
}

.main-title-point {
  color: var(--text-section-paragraph);
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
}

.main-paragraph {
  display: grid;
  gap: 20px;
}

.main-point {
  display: grid;
  gap: 10px;
}

.main-point-text {
  color: var(--text-section-paragraph);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
}

.main-text {
  color: var(--text-main);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
}

.main-link {
  text-shadow:2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.main-link:hover {
  border-bottom: 1px solid var(--text-main);
}

.main-link:focus-visible {
  outline: 1px solid var(--text-main);
  outline-offset: 1px;
}

.pictures {
  display: grid;
  gap: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.gallery img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  height: 668px;
}

.footer-text-focus {
  align-self: center;
  justify-self: center;
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .header {
    grid-template-rows: 463px auto 1fr;
    height: 1024px;
    padding: 0 20px 0 0;
  }

  .header-text {
    align-self: end;
    justify-self: end;
    width: 364px;
    margin-bottom: 183px;
  }

  .text-focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .rec {
    margin-right: 20px;
    margin-top: 10px;
  }

  .decorated-zone::before {
    margin-top: 20px;
    margin-right: 20px;
  }

  .decorated-zone::after {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .header__theme-menu {
    margin-top: 192px;
  }

  .main {
    padding: 0 20px;
    gap: 80px;
  }

  .section-two-columns {
    grid-template-columns: 1fr 2fr;
  }

  .main-title {
    width: 236px;
  }
 
  .pictures {
    gap: 20px;
  }

  .gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "sunset sunset icecream"
      "cassette books icecream"
      "cassette street street";
  }

  .gallery img:nth-child(1) {
    grid-area: sunset;
  }
  
  .gallery img:nth-child(2) {
    grid-area: icecream;
  }

  .gallery img:nth-child(3) {
    grid-area: cassette;
  }

  .gallery img:nth-child(4) {
    grid-area: books;
  }

  .gallery img:nth-child(5) {
    grid-area: street;
  }

  .footer {
    height: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: 319px auto 1fr;
    height: 768px;
    padding: 0;
  }

  .header-text {
    align-self: end;
    justify-self: end;
    width: 491px;
    margin-bottom: 134px;
    margin-right: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-top: 0px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .main-title {
    width: 315px;
  }
 
  .section-two-columns {
    gap: 10px;
  }

  .section-three-columns .main-paragraph {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-three-columns .main-point {
    display: block;
  }

  .section-three-columns .main-title-point {
    margin-bottom: 10px;
  }

  .footer {
    height: 768px;
  }

  .pictures .main-title {
    width: auto;
  }
}