:root{
 --bg-image: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --text-focus-color: #FFC2E6;
  --text-menu: #353430;
  --text-menu-rgb: 53, 52, 48;
  --text-header: #353430;

  --text-section-title: #353430;
  --text-section-paragraph: #353430;
  --text-section-paragraph-highlight: #FF8DCB;
  --text-main: #353430;
  
  --font-family: IBM Plex Mono; 
  --font-weight: 700;
  --font-size-title: 18px;
  --line-height-title: 23.4px;
}